@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    font-family: "Departure Mono", monospace;
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 75px 75px 75px;
    background: rgba(0,0,0,0.9);
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    max-width: fit-content;
}

#header {
    display: flex;
    align-items: center;
    margin: 0 0 75px 0;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-back-button {
    all: unset;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    margin: 0 25px 0 0;
    background: rgba(255,255,255,0.9);
    color: rgba(0,0,0,0.9);
    border-radius: 50%;
    transition: ease 0.25s;
}

.header-back-button:hover {
    color: whitesmoke;
    background: seagreen;
}

.reports {
    background: rgba(0,0,0,0.5);
    padding: 0 25px 15px 25px;
    border-radius: 10px;
}

thead::after {
    content: "";
    display: block;
    height: 2em;
    width: 100%;
    background: rgba(255,255,255,0.0);
}

table, th, td {
    border: none;
    border-collapse: collapse;
}

.report-table {
    table-layout: auto;
}


#report-headers {
    text-align: left;
}

th {
    border-bottom: 1px solid rgba(255,255,255,0.9);
    padding-bottom: 15px;
}

td {
    text-align: center;
    width: fit-content;
}

td, th {
    padding: 5px 20px 5px 20px;
    width: fit-content;
}

@media (prefers-color-scheme: light) {

    body {
        background: whitesmoke;
    }

    .header-back-button {
        background: rgba(0,0,0,0.08);
        color: rgba(0,0,0,0.8);
    }

    th {
        border-bottom: 1px solid rgba(0,0,0,0.8);
    }

    .header-container {
        color: rgba(0,0,0,0.8);
    }

    .reports-container {
        background: whitesmoke;
        color: rgba(0, 0, 0, 0.8);
    }

    .reports {
        color: rgba(0,0,0,0.9);
        background: rgba(255,255,255,0.8);
    }

    #table-container {
        background: rgba(255,255,255,0.8);
    }

    tr {
        background: rgba(255,255,255,0.8);
    }
}
