<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guest Reports</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-zinc-200 sm:bg-zinc-100 dark:sm:bg-zinc-950 dark:bg-zinc-800 font-sans">
    <div id="container" class="w-full h-full bg-zinc-100 dark:bg-zinc-950 dark:text-slate-300 flex justify-center items-center sm:mt-16 sm:mb-16">
        <div id="table-containers" class="h-full w-full sm:h-fit sm:w-9/12 sm:max-w-lg bg-zinc-200 dark:bg-zinc-800 p-16 sm:rounded-xl">
            <div id="header" class="w-full">
                <div class="flex mb-6">
                    <a class="transition-all hover:bg-emerald-600 text-black hover:text-white flex items-center justify-center text-4xl bg-zinc-100 dark:bg-zinc-500 p-2 dark:hover:bg-emerald-700 w-12 h-12 rounded-full" th:href="@{/}">←</a>
                    <div class="text-4xl ml-6 mb-20">Reports</div>
                </div>
            </div>
            <div id="rsvp-count">
                <div class="text-xl font-bold">RSVP Count</div>
                <table>
                    <thead>
                    <tr class="text-left border-b">
                        <th>Option</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="h-6 bg-transparent">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td style="width: 350px; text-align: left;">Yes</td>
                        <td th:text="${rsvpYES}"></td>
                    </tr>
                    <tr>
                        <td style="width: 350px; text-align: left;">No</td>
                        <td th:text="${rsvpNO}"></td>
                    </tr>            <tr>
                        <td style="width: 350px; text-align: left;">Maybe</td>
                        <td th:text="${rsvpMAYBE}"></td>
                    </tr>

                    </tbody>
                </table>
                <div class="flex mt-8">
                    <div><strong>Data as of: &nbsp;</strong></div>
                    <div th:text="${date}" class="mr-1"></div>
                    <div>&nbsp; - &nbsp;</div>
                    <div th:text="${time}"></div>
                </div>
            </div>
            <div id="appetizer" class="reports" style="margin-top: 100px;">
                <div class="text-xl font-bold">Meal Selections</div>
                <table class="report-table">
                    <thead class="report-headers">
                    <tr class="text-left border-b">
                        <th><p style="text-align: left;">Appetizers</p></th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="h-6 bg-transparent">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td style="width: 350px; text-align: left;">Beet Salad</td>
                        <td th:text="${BEET_SALAD}"></td>
                    </tr>
                    <tr>
                        <td style="width: 350px; text-align: left;">Crab Cake</td>
                        <td th:text="${CRAB_CAKE}"></td>
                    </tr>          <tr>
                        <td style="width: 350px; text-align: left;">The Hen Egg</td>
                        <td th:text="${HEN_EGG}"></td>
                    </tr>

                    </tbody>
                </table>
                <table id="entree" class="report-table" style="margin: 50px 0 0 0;">
                    <thead class="report-headers">
                    <tr class="text-left border-b">
                        <th><p style="text-align: left;">Entrees</p></th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="h-6 bg-transparent">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td style="width: 350px; text-align: left;">Fogline Farms Chicken</td>
                        <td th:text="${CHICKEN}"></td>
                    </tr>
                    <tr>
                        <td style="width: 350px; text-align: left;">Beef Tenderloin</td>
                        <td th:text="${BEEF}"></td>
                    </tr>
                    <tr>
                        <td style="width: 350px; text-align: left;">Bucatini Cacio E Pepe</td>
                        <td th:text="${BUCATINI}"></td>
                    </tr>
                    <tr>
                        <td style="width: 350px; text-align: left;">Rigatoni All'Amatriciana</td>
                        <td th:text="${RIGATONI}"></td>
                    </tr>          <tr>
                        <td style="width: 350px; text-align: left;">Potato Gnocchi</td>
                        <td th:text="${GNOCCHI}"></td>
                    </tr>

                    </tbody>
                </table>
                <table id="dessert" class="report-table" style="margin: 50px 0 0 0;">
                    <thead class="report-headers">
                    <tr class="text-left border-b">
                        <th><p style="text-align: left;">Desserts</p></th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="h-6 bg-transparent">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td style="width: 350px; text-align: left;">Opera Cake</td>
                        <td th:text="${OPERA_CAKE}"></td>
                    </tr>
                    <tr>
                        <td style="width: 350px; text-align: left;">Mango-Passionfruit Cheesecake</td>
                        <td th:text="${MANGO_CHEESECAKE}"></td>
                    </tr>
                    <tr>
                        <td style="width: 350px; text-align: left;">Apple Entremet</td>
                        <td th:text="${APPLE_ENTREMET}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="flex mt-8">
                    <div><strong>Data as of: &nbsp;</strong></div>
                    <div th:text="${date}" class="mr-1"></div>
                    <div>&nbsp; - &nbsp;</div>
                    <div th:text="${time}"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>